<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<title>詳細画面</title>
</head>
<body>
<h2 th:text="${today}"></h2>
<div th:text="${errorMonth}"></div>
<form th:action="@{/month}" method="get">
  <label for="number">月別の詳細を見る：</label>
  <input type="text" name="number" required>月
  <input type="submit" value="検索">
</form>
<p>入金履歴</p>
<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>メモ</th>
      <th>金額</th>
      <th>投稿日時</th>
      <th>更新日時</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="inList : ${inputList}">
      <td>[[${inList.inDate}]]</td>
      <td>[[${inList.inContent}]]</td>
      <td>[[${inList.inPrice}]]</td>
      <td th:if="inList.CreatedAt">[[${inList.CreatedAt}]]</td>
      <td th:if="inList.UpdatedAt">[[${inList.UpdatedAt}]]</td>
      <td><a th:href="@{/input/edit/{id}(id=${inList.inputId})}">編集</a></td>
      <td><a th:href="@{/input/delete/{id}(id=${inList.inputId})}">削除</a></td>
    </tr>
  </tbody>
</table>
<h4>入金合計：[[${allInput}]]</h4>

<p>支出履歴</p>
<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>メモ</th>
      <th>金額</th>
      <th>投稿日時</th>
      <th>更新日時</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="outList : ${outputList}">
      <td>[[${outList.outDate}]]</td>
      <td>[[${outList.outContent}]]</td>
      <td>[[${outList.outPrice}]]</td>
      <td th:if="outList.CreatedAt">[[${outList.CreatedAt}]]</td>
      <td th:if="outList.UpdatedAt">[[${outList.UpdatedAt}]]</td>
      <td><a th:href="@{/output/edit/{id}(id=${outList.outputId})}">編集</a></td>
      <td><a th:href="@{/output/delete/{id}(id=${outList.outputId})}">削除</a></td>
    </tr>
  </tbody>
</table>
<h4>支出合計：[[${allOutput}]]</h4>
<a href="/home">ホーム画面に戻る</a>

<div class="chart-container" style="position: relative; height:40vh; width:80vw">
<canvas id="myChart"></canvas>
</div>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		output_chart();
		function output_chart() {
			var ctx = document.getElementById("myChart").getContext("2d");
			var january = /*[[ ${January} ]]*/ 'default';
			var february = /*[[${February}]]*/ 'default';
			var march = /*[[${March}]]*/ 'default';
			var april = /*[[${April}]]*/ 'default';
			var may = /*[[${May}]]*/ 'default';
			var june = /*[[${June}]]*/ 'default';
			var july = /*[[${July}]]*/ 'default';
			var august = /*[[${August}]]*/ 'default';
			var september = /*[[${September}]]*/ 'default';
			var october = /*[[${October}]]*/ 'default';
			var november = /*[[${November}]]*/ 'default';
			var december = /*[[${December}]]*/ 'default';

			new Chart(
					ctx,
					{
						type : 'line',
						data : {
							labels : [ "1月", "2月", "3月", "4月", "5月", "6月",
									"7月", "8月", "9月", "10月", "11月", "12月" ],
							datasets : [ {
								label : '月別支出金額',
								data : [january, february, march, april, may, june,
									july, august, september, october, november, december],
								backgroundColor : [ 'rgba(255, 99, 132, 0.2)',
										'rgba(54, 162, 235, 0.2)',
										'rgba(255, 206, 86, 0.2)',
										'rgba(75, 192, 192, 0.2)',
										'rgba(153, 102, 255, 0.2)',
										'rgba(255, 159, 64, 0.2)' ],
								borderColor : [ 'rgba(255,99,132,1)',
										'rgba(54, 162, 235, 1)',
										'rgba(255, 206, 86, 1)',
										'rgba(75, 192, 192, 1)',
										'rgba(153, 102, 255, 1)',
										'rgba(255, 159, 64, 1)' ],
								borderWidth : 1
							} ]
						},
						options : {
							layout : {
								padding : {
									left : 400,
									right : 0,
									top : 150,
									bottom : 150
								}
							},
						}
					});
		}
		/*]]>*/
	</script>
</body>
</html>