<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.13/dist/sweetalert2.all.min.js"></script>
<link th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/app.css}" rel="stylesheet">
<title>home</title>
</head>
<body>
	<!-- ヘッダー -->
	<div th:replace="~{fragments/header::header}"></div>

<div class="alert alert-success" role="alert" th:if="${success}">[[${success}]]</div>
<div class="alert alert-primary" role="alert" th:if="${message}">[[${message}]]</div>

	<div class="d-flex flex-column bd-highlight">
		<div class="p-2 bd-highlight">
			<div class="d-flex justify-content-center">
				<h2 th:text="${today}"></h2>
			</div>
		</div>
		<div class="p-2 bd-highlight">
			<h3 class="d-flex justify-content-center mt-5">現在の残高</h3>
		</div>
		<div class="p-2 bd-highlight">
			<div class="d-flex justify-content-center">
				<div class="this_month" th:text="${budgetRemain}"></div>
			</div>
		</div>
		<div class="p-2 bd-highlight">
			<h3 class="d-flex justify-content-center mt-3">今月の予算</h3>
		</div>
		<div class="p-2 bd-highlight">
			<div class="d-flex justify-content-center">
				<div class="this_month" th:text="${totalNowAmmountMonth}"></div>
			</div>
		</div>
	</div>
	
	<div class="pie-chart-container">
		<canvas id="myPieChart"></canvas>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-6 mt-5">
			    <a class="btn btn-outline-primary" href="/input">入金</a>
				<h4 class="record">今月の入金履歴</h4>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">日付</th>
							<th scope="col">メモ</th>
							<th scope="col">金額</th>
							<th scope="col">投稿日時</th>
							<th scope="col">更新日時</th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
					<tbody>
						<tr th:each="input : ${nowMonthInput}">
							<td>[[${input.inDate}]]</td>
							<td>[[${input.inContent}]]</td>
							<td>[[${input.inPrice}]]</td>
							<td th:if="inList.CreatedAt">[[${input.CreatedAt}]]</td>
							<td th:if="inList.UpdatedAt">[[${input.UpdatedAt}]]</td>
							<td><a class="link-primary" th:href="@{/input/edit/{id}(id=${input.inputId})}">編集</a></td>
							<td><a class="link-primary"
							th:href="@{/input/delete/{id}(id=${input.inputId})}" onclick="btnClick();">削除</a></td>
						</tr>
					</tbody>
				</table>
				<h5 class="mt-5">入金合計：[[${totalNowMonthInput}]]</h5>
			</div>
			
			<div class="col-6 mt-5">
				<a class="btn btn-outline-success" href="/output">支出</a>
				<h4 class="record">今月の支出履歴</h4>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">日付</th>
							<th scope="col">メモ</th>
							<th scope="col">金額</th>
							<th scope="col">投稿日時</th>
							<th scope="col">更新日時</th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="output : ${nowMonthOutput}">
							<td>[[${output.outDate}]]</td>
							<td>[[${output.outContent}]]</td>
							<td>[[${output.outPrice}]]</td>
							<td th:if="outList.CreatedAt">[[${output.CreatedAt}]]</td>
							<td th:if="outList.UpdatedAt">[[${output.UpdatedAt}]]</td>
							<td><a class="link-primary" th:href="@{/output/edit/{id}(id=${output.outputId})}">編集</a></td>
							<td><a class="link-primary"
							th:href="@{/output/delete/{id}(id=${output.outputId})}" onclick="btnClick();">削除</a></td>
						</tr>
					</tbody>
				</table>
				<h5 class="mt-5">支出合計：[[${totalNowMonthOutput}]]</h5>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	this_month_chart();
	function this_month_chart() {
		var ctx = document.getElementById("myPieChart").getContext("2d");
		
		var input = /*[[ ${totalNowMonthInput} ]]*/ 'default';
		var output = /*[[ ${totalNowMonthOutput} ]]*/ 'default';
		
		if(input == 0 && output == 0) {
			data = {
					labels : ['今月の入力実績がありません。'],
					datasets : [{
						data : [1],
						backgroundColor : [
							'rgba(0, 128, 128, 1)'
						]
					}]
			}
		} else {
			data = {
					labels : [
						'入金合計額',
						'支出合計額'
					],
					
					datasets : [{
						data : [
							input,
							output
						],
						backgroundColor : [
							'#0033FF',
							'#00FF00',
						]
					}]
				}
		}
		
		new Chart(
				ctx,
				{
					type : 'pie',
					data : data,
					
					options : {
						layout : {
							padding : {
								left : 400,
								right : 0,
								top : 150,
								bottom : 150
							}
						}
					}
				}
		)
	}
	
	function btnClick() {

		Swal.fire({
			  title: '削除の確認',
			  text: "本当に削除してよろしいでしょうか？",
			  icon: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: '削除'
			}).then((result) => {
				if (result.isConfirmed) {
				    Swal.fire(
				      'Deleted!',
				      'Your file has been deleted.',
				      'success'
				    )
				}
		})
	}
	
	/* if(window.confirm('本当に削除してよろしいでしょうか？')) {
	return true;
    } else {
	return false;
    } */
	
	
	/* document.getElementById("confirm").onclick = function() {
		var options = {
				text: '本当に削除してよろしいでしょうか？',
				buttons: {
					cancel: 'キャンセル',
					ok: '削除'
				}
		};
		swal(options).then(function(result) {
			if(result) {
				return true;
			}
		});
	}; */
	
	/*]]>*/
	</script>
	
	<!-- フッター -->
	<div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>