<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ホーム画面</title>
</head>
<body>
<header>
  <p>おさいふ管理アプリ</p>
  <a th:href="@{/logout}">ログアウト</a>
  <div th:if="${success}">[[${success}]]</div>
  <div th:if="${message}">[[${message}]]</div>
</header>
<h2 th:text="${today}"></h2>

<h3>現在の予算</h3>
<div th:text="${budgetRemain}"></div>
<form th:action="@{/reset}" method="post">
  <!-- <input type="hidden" name="userId" th:value="${appuser.userId}"> -->
  <button>リセット</button>
</form>
<a href="/input">入金</a>
<a href="/output">支出</a>
<a href="/detail">詳細</a>

<h3>今月の予算</h3>
<div th:text="${totalAmmountMonth}"></div>

<p>今月の入金履歴</p>
<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>メモ</th>
      <th>金額</th>
      <th>投稿日時</th>
      <th>更新日時</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="input : ${nowMonthInput}">
      <td>[[${input.inDate}]]</td>
      <td>[[${input.inContent}]]</td>
      <td>[[${input.inPrice}]]</td>
      <td th:if="inList.CreatedAt">[[${input.CreatedAt}]]</td>
      <td th:if="inList.UpdatedAt">[[${input.UpdatedAt}]]</td>
      <td><a th:href="@{/input/edit/{id}(id=${input.inputId})}">編集</a></td>
      <td><a th:href="@{/input/delete/{id}(id=${input.inputId})}">削除</a></td>
    </tr>
  </tbody>
</table>
<h4>入金合計：[[${totalMonthInput}]]</h4>

<p>今月の支出履歴</p>
<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>メモ</th>
      <th>金額</th>
      <th>投稿日時</th>
      <th>更新日時</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="output : ${nowMonthOutput}">
      <td>[[${output.outDate}]]</td>
      <td>[[${output.outContent}]]</td>
      <td>[[${output.outPrice}]]</td>
      <td th:if="outList.CreatedAt">[[${output.CreatedAt}]]</td>
      <td th:if="outList.UpdatedAt">[[${output.UpdatedAt}]]</td>
      <td><a th:href="@{/output/edit/{id}(id=${output.outputId})}">編集</a></td>
      <td><a th:href="@{/output/delete/{id}(id=${output.outputId})}">削除</a></td>
    </tr>
  </tbody>
</table>
<h4>支出合計：[[${totalMonthOutput}]]</h4>
</body>
</html>