<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script type="text/javascript" th:src="@{/js/today.js}"></script>
<link th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/app.css}" rel="stylesheet">
<title>Input Page</title>
</head>
<body>
<!-- ヘッダー -->
  <div th:replace="~{fragments/header::header}"></div>
  
<h3 class="main-title my-5">入金ページ</h3>

	<div class="main-form">
		<div class="bg-white p-5 shadow">
			<form th:action="@{/input}" method="post" th:object="${input}" novalidate>
				<div class="py-3">
					<label for="inDate" class="form-label">日付：</label>
					<input type="date" class="form-control" th:errorclass="is-invalid" id="today" th:field="*{inDate}">
					<div class="invalid-feedback" th:errors="*{inDate}"></div>
				</div>
				<div class="py-3">
					<label for="inContent" class="form-label">メモ：</label>
					<input type="text" class="form-control" th:field="*{inContent}">
				</div>
				<div class="py-3">
					<label for="inPrice" class="form-label">金額：</label>
					<input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{inPrice}">
					<div class="invalid-feedback" th:errors="*{inPrice}"></div>
				</div>
				<div class="d-flex align-items-center">
				  <div class="main-button">
				    <input class="btn btn-primary" type="submit" value="OK">
				  </div>
				    <a class="link-primary" href="/home">戻る</a>
				</div>
			</form>
		</div>
	</div>
	
<!-- フッター -->
  <div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>