<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/app.css}" rel="stylesheet">
<title>編集画面</title>
</head>
<body>
<!-- ヘッダー -->
  <div th:replace="~{fragments/header::header}"></div>
<h4>入金編集画面</h4>
<form th:action="@{/input/update/{id}(id=${input.inputId})}" method="post"
      th:object="${input}" novalidate>
  <div>
    <label for="inDate">日付：</label>
    <input type="date" th:errorclass="is-invalid" th:field="*{inDate}">
    <div class="invalid-feedback" th:errors="*{inDate}"></div>
  </div>
  <div>
    <label for="inContent">メモ：</label>
    <input type="text" th:field="*{inContent}">
  </div>
  <div>
    <label for="inPrice">金額：</label>
    <input type="text" th:errorclass="is-invalid" th:field="*{inPrice}"> 
    <div class="invalid-feedback" th:errors="*{inPrice}"></div>
  </div>
  <input type="submit" value="保存"><br>
  <a href="/detail">詳細画面に戻る</a>
</form>
<!-- フッター -->
  <div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>