<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="@{webjars/jquery/3.5.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/today.js}"></script>
<title>入金画面</title>
</head>
<body>
<h4>入金画面</h4>
<form th:action="@{/input}" method="post" th:object="${input}" novalidate>
    <!-- <input type="hidden" name="userId" th:value="${appuser.userId}"> -->
  <div>
    <label for="inDate">日付：</label>
    <input type="date" class="datepicker" th:errorclass="is-invalid" id="today" th:field="*{inDate}">
    <div class="invalid-feedback" th:errors="*{inDate}"></div>
  </div>
  <div>
    <label for="inContent">メモ：</label>
    <input type="text" th:field="*{inContent}">
  </div>
  <div>
    <label for="inPrice">金額：</label>
    <input type="text" th:errorclass="is-invalid" th:field="*{inPrice}">
    <div class="invalid-feedback" th:errors="*{inPrice}"></div>
  </div>
  <input type="submit" value="OK">
</form>
<a href="/home">ホーム画面に戻る</a>
</body>
</html>