<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
<h2>ログイン</h2>
<form th:action="@{/login}" method="post">
  <div th:if="${param.error}">
    ログインに失敗しました。
  </div>
  <!-- <div th:if="${param.logout}">
    ログアウトしました。
  </div> -->
  <label for="email">メールアドレス</label>
  <input type="text" id="email" name="email"><br>
  <label for="password">パスワード</label>
  <input type="password" id="password" name="password"><br>
  <button type="submit">ログイン</button>
</form>
<a href="/register">ユーザー登録はこちら</a>
</body>
</html>