<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>月別詳細画面</title>
</head>
<body>
<h2 th:text="${today}"></h2>
<h3 th:text="${number}"></h3>
<div th:text="${nullMonth}"></div>
<div th:text="${totalAmmountMonth}"></div>
<p>入金履歴</p>
<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>メモ</th>
      <th>金額</th>
      <th>投稿日時</th>
      <th>更新日時</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="input : ${monthInput}">
      <td>[[${input.inDate}]]</td>
      <td>[[${input.inContent}]]</td>
      <td>[[${input.inPrice}]]</td>
      <td th:if="inList.CreatedAt">[[${input.CreatedAt}]]</td>
      <td th:if="inList.UpdatedAt">[[${input.UpdatedAt}]]</td>
      <td><a th:href="@{/input/edit/{id}(id=${input.inputId})}">編集</a></td>
      <td><a th:href="@{/input/delete/{id}(id=${input.inputId})}">削除</a></td>
    </tr>
  </tbody>
</table>
<h4>入金合計：[[${TotalMonthInput}]]</h4>

<p>支出履歴</p>
<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>メモ</th>
      <th>金額</th>
      <th>投稿日時</th>
      <th>更新日時</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="output : ${monthOutput}">
      <td>[[${output.outDate}]]</td>
      <td>[[${output.outContent}]]</td>
      <td>[[${output.outPrice}]]</td>
      <td th:if="outList.CreatedAt">[[${output.CreatedAt}]]</td>
      <td th:if="outList.UpdatedAt">[[${output.UpdatedAt}]]</td>
      <td><a th:href="@{/output/edit/{id}(id=${output.outputId})}">編集</a></td>
      <td><a th:href="@{/output/delete/{id}(id=${output.outputId})}">削除</a></td>
    </tr>
  </tbody>
</table>
<h4>支出合計：[[${TotalMonthOutput}]]</h4>
<a href="/detail">詳細画面に戻る</a>
</body>
</html>