<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/app.css}" rel="stylesheet">
<title>Output Edit Page</title>
</head>
<body>
<!-- ヘッダー -->
<div th:replace="~{fragments/header::header}"></div>

<h3 class="main-title my-5">支出編集ページ</h3>

	<div class="main-form">
		<div class="bg-white p-5 shadow">
			<form th:action="@{/output/update/{id}(id=${output.outputId})}" method="post" th:object="${output}">
				<div class="py-3">
					<label for="outDate" class="form-label">日付：</label>
					<input type="date" class="form-control" th:errorclass="is-invalid" th:field="*{outDate}">
					<div class="invalid-feedback" th:errors="*{outDate}"></div>
				</div>
				<div class="py-3">
					<label for="outContent" class="form-label">メモ：</label>
					<input type="text" class="form-control" th:field="*{outContent}">
				</div>
				<div class="py-3">
					<label for="outPrice" class="form-label">金額：</label>
					<input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{outPrice}">
					<div class="invalid-feedback" th:errors="*{outPrice}"></div>
				</div>
				<div class="d-flex align-items-center">
					<div class="main-button">
				      <input class="btn btn-primary" type="submit" value="保存">
				    </div>
				    <a href="javascript:history.back();">戻る</a>
				</div>
			</form>
		</div>
	</div>
	
	<!-- フッター -->
  <div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>