<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script type="text/javascript" th:src="@{/js/today.js}"></script>
<link th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/app.css}" rel="stylesheet">
<title>支出画面</title>
</head>
<body>
<!-- ヘッダー -->
  <div th:replace="~{fragments/header::header}"></div>
<h4>支出画面</h4>
<form th:action="@{/output}" method="post" th:object="${output}">
    <!-- <input type="hidden" name="userId" th:value="${appuser.userId}"> -->
  <div>
    <label for="outDate">日付：</label>
    <input type="date" class="datepicker" id="today" th:errorclass="is-invalid" th:field="*{outDate}">
    <div class="invalid-feedback" th:errors="*{outDate}"></div>
  </div>
  <div>
    <label for="outContent">メモ：</label>
    <input type="text" th:field="*{outContent}">
  </div>
  <div>
    <label for="outPrice">金額：</label>
    <input type="text" th:errorclass="is-invalid" th:field="*{outPrice}">
    <div class="invalid-feedback" th:errors="*{outPrice}"></div>
  </div>
  <input type="submit" value="OK">
</form>
<a href="/home">ホーム画面に戻る</a>
<!-- フッター -->
  <div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>