<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/app.css}" rel="stylesheet">
<title>編集画面</title>
</head>
<body>
<!-- ヘッダー -->
  <div th:replace="~{fragments/header::header}"></div>
<h4>支出編集画面</h4>
<form th:action="@{/output/update/{id}(id=${output.outputId})}" method="post" th:object="${output}">
  <div>
    <label for="outDate">日付：</label>
    <input type="date" th:errorclass="is-invalid" th:field="*{outDate}">
    <div class="invalid-feedback" th:errors="*{outDate}"></div>
  </div>
  <div>
    <label for="outContent">メモ：</label>
    <input type="text" th:field="*{outContent}">
  </div>
  <div>
    <label for="outPrice">金額：</label>
    <input type="text" th:errorclass="is-invalid" th:field="*{outPrice}">
    <div class="invalid-feedback" th:errors="*{outPrice}"></div>
  </div>
  <input type="submit" value="保存">
  <a href="/detail">詳細画面に戻る</a>
</form>
<!-- フッター -->
  <div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>